@model QUVideoLinkArchive.Models.login

@{
	ViewBag.Title = "Login";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@*  
	-----------------------------------------------
*@
@section AddToHead {

}
<div class="row">
	<div class="col-lg-5 col-lg-offset-4">
		<h1>IMC Video Lookup (Admin Tool)</h1>
		@using (Html.BeginForm(FormMethod.Post))
		{
			
			<p>@Html.TextBoxFor(m => m.Username, new { @class = "form-control input-lg", placeholder="username" }) </p>

			<p>@Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder="password" }) </p>
			<input type="submit" class="form-control btn-default" id="login" value="Login"/>


		}
	</div>
</div>
<div class="col-lg-12 row"></div>